* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --bg: #0F172A;
    --surface: #1E293B;
    --surface-hover: #334155;

    --text: #F8FAFC;
    --text-muted: #94A3B8;

    --primary: #3B82F6;
    --success: #22C55E;
    --danger: #EF4444;

    --border: #334155;

    --radius: 10px;
    --transition: 0.2s ease;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Inter, sans-serif;
}

button,
.button {
    padding: 0.9rem 1rem;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: var(--radius);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    text-decoration: none;
}

button:hover,
.button:hover {
    opacity: 0.85;
}